body {
    font-family: "Roboto", "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
}

.first-box {
    background-color: #1F2937;
}

.third-box {
    background-color: #E5E7EB
}